.logo__login {
    width: 10em;
    height: 8em;
    margin: 0.8em 0;
}

.logo__header {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.2em;
}

.logo__footer {
    width: 1.7em;
    height: 1.7em;
}

.logo__color--darkMintBlue {
    stroke: var(--darkMintBlue);
    fill: white;
}

.logo__color--lightBlack {
    stroke: var(--lightBlack);
    fill: white;
}

.logo__color--white {
    stroke: white;
    fill: black;
}