#line__v {
    stroke-dasharray: 60;
    stroke-dashoffset: 75;
    animation: line__v 1s forwards;
}

#line__l {
    stroke-dasharray: 60;
    stroke-dashoffset: -50;
    animation: line__l 1s 1s forwards;
}

@keyframes line__v {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes line__l {
    to {
        stroke-dashoffset: 0;
    }
}

.logo__login {
    width: 10em;
    height: 8em;
    margin: 0.8em 0;
}

.logo__header {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.2em;
}

.logo__footer {
    width: 1.7em;
    height: 1.7em;
}

.logo__color--darkMintBlue {
    stroke: var(--darkMintBlue);
    fill: white;
}

.logo__color--lightBlack {
    stroke: var(--lightBlack);
    fill: white;
}

.logo__color--white {
    stroke: white;
    fill: black;
}