.title__login {
    width: 10em;
    height: 3em;
}

.title__header {
    width: 4.5em;
    height: 4.5em;
    margin: 0 1em;
}

.title__footer {
    width: 5em;
    height: 1em;
}

.title__white {
    fill: white;
}

.title__lightBlack {
    fill: var(--lightBlack)
}