.logo__header {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.2em;
}

.logo__login {
    width: 3em;
    height: 3em;
}

.logo__white {
    fill: white;
}

.logo__green {
    fill: var(--green);
}