.dot__menu {
    display: inline-block;
    position: relative;
    grid-column: 3;
    grid-row: 1;
    margin-left: 1em;
    margin-right: 0.5em;
    justify-self: end;
    align-items: center;
}

.dot__btns--inactive {
    display: none;
}

.dot__btns--active {
    display: auto;
    position: absolute;
    background-color: white;
    border-radius: var(--formFieldRadius);
    box-shadow: var(--cardDropShadow);
}

.dot__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: var(--weightNormal);
    transition: var(--btnHover);
    margin: 0.5em;
    width: 5em;
    text-align: left;
    padding: .5em 0 0.5em 1em;
}

.dot__btn:hover {
    border-radius: 2em;
    background-color: var(--lightGray);
    box-shadow: var(--cardDropShadow);
}

.dot__btn:active {
    background-color: var(--darkGray);
}