.project__btn {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: var(--weightHeavy);
    background-color: transparent;
    border-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.project__btn:hover {
    color: var(--lightBlack);
}

.project__btn:active {
    color: var(--lightBlack);
    font-weight: var(--weightHeavier)
}