.project__cards {
    display: flex;
    flex-flow: row wrap;
}

.card__project {
    display: grid;
    margin: 0.8em;
    flex-basis: 13em;
}

.card__btn {
    background-color: transparent;
    border: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.project__h2--card {
    font-size: 1em;
    grid-column: 1;
    grid-row: 2;
    margin-left: 15px;
}

.project__subtitle {
    font-size: 0.6em;
    font-weight: var(--weightHeavy);
    margin-left: 15px;
}

.project__subtitle--type {
    grid-column: 1;
    grid-row: 3;
    margin-left: 15px;
}

.project__subtitle--date {
    grid-column: 1;
    grid-row: 4;
    margin-left: 15px;
}

.project__table {
    grid-column: 1;
    grid-row: 5;
    margin: 0.5em 0 0 15px;
}

.project__dash {
    grid-column: 2;
    grid-row: 5;
    margin: 0.5em 0 0 15px;
}