.btn {
    background-color: transparent;
    border-color: var(--lightBlack);
    border-style: solid;
    border-radius: var(--formFieldRadius);
    border-width: 0.2em;
    width: max-content;
    padding: .2em 1em;
    cursor: pointer;
    font-size: 0.7em;
    justify-self: center;
    transition: .1s;
  }

  .btn:hover {
    cursor: pointer;
    font-weight:var(--weightHeavy);
    background-color: var(--lightBlack);
    border-color: var(--lightBlack);
    color: var(--fontColorBtn);
  }

  .btn:active {
    background-color: black;
    border-color: black;
  }
  
  .btn--red {
    border-color: var(--red);
  }
  
  .btn--red:hover {
    background-color: var(--red);
    border-color: var(--red);
  }
  
  .btn--red:active {
    background-color: var(--redActive);
    border-color: var(--redActive)
  }