.card {
    border-radius: var(--cardRadius);
    box-shadow: var(--cardDropShadow);
    max-width: 90vw;
}

.card__color--white {
    background-color: var(--offWhite);
}

.card__color--mintBlue {
    background-color: var(--mintBlue);
}