.card__progress {
    display: flex;
    flex-flow: column nowrap;
    grid-row: 6;
    grid-column: 1 / 3;
    align-items: center;
    padding: 5px 0 10px 15px;
    margin-top: 0.4em;
}

.progress__content {
    width: 100%;
    margin-bottom: 0.4em;
}

.progress__h3 {
    font-size: 0.8em;
}

.progress__text {
    margin-left: 0.35em;
}

.progress__p {
    font-size: 0.6em;
}

.progress__submit {
    display: flex;
    justify-content: space-evenly;
}