.form__h3--progress {
    margin: 0 0 0.5em 0;
}

.form__h4--progress {
    margin: 0em !important;
}

.form__checkContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.progress__checkbox--first {
    margin: 0 0.3em 0 0;
}

.progress__checkbox {
    margin: 0 0.3em 0 0.9em;
}

.input__words--active {
    color:var(--fontColor);
    background-color: var(--mediumGray);
}

.input__words--inactive {
    color:var(--fontColorInactive);
    background-color: var(--inactiveFormField);
}