.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--green);
}

.header__nav {
    flex-grow: 1;
}

.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav__centered {
    display: flex;
    flex-flow: row nowrap;
}

.nav__item {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}