.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: var(--green);
}

.header__nav {
    flex-grow: 1;
}

.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav__centered {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1em;
}

.nav__item {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: var(--weightThin);
    font-size: 0.7em;
    transition: var(--btnHover);
}

.nav__btn--active {
    font-weight: var(--weightHeavier)
}