.dash__cards {
    display: flex;
    flex-flow: row wrap;
}

.card__dash {
    margin: 0.8em;
    padding: 0.5em 1em;
    height: min-content;
}

.dash__h2 {
    font-size: 1.3em;
    font-weight: var(--weightThin);
}

.dash__h3 {
    font-size: 0.95em;
}

.dash__h3--graph {
    margin-left: 0.4em;
}

.dash__h3--average {
    text-align: center;
}

.dash__subtitle {
    font-size: 0.7em;
    letter-spacing: 0.03em;
    font-weight: var(--weightThin)
}

.dash__p {
    font-size: .8em;
    letter-spacing: 0.03em;
    font-weight: var(--weightThin)
}

.card__dash--title {
    width: max-content;
}

.card__dash--goal {
    width: max-content;
}

.card__dash--progressionBar {
    width: 13em;
}

.card__dash--average {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 10.5em;
}

.graph__textContainer {
    margin-left: 0.4em;
}

.graph__text {
    font-size: 0.7em;
}

.average__text {
    font-size: 1.7em;
    font-weight: var(--weightThin)
}

.card__dash--words {
    width: 28em;
}