.dash__cards {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
}

.card__dash {
    margin: 0.8em;
    padding: 0.5em 1em;
    height: min-content;
}

.dash__h2 {
    font-size: 1.3em;
    font-weight: var(--weightThin);
}

.dash__h3 {
    font-size: 0.95em;
}

.dash__h3--graph {
    margin-left: 0.4em;
}

.dash__h3--average {
    text-align: center;
}

.dash__subtitle {
    font-size: 0.7em;
    letter-spacing: 0.03em;
    font-weight: var(--weightThin)
}

.dash__p {
    font-size: .7em;
    letter-spacing: 0.03em;
    font-weight: var(--weightThin)
}

.dash__p--goal {
    margin-bottom: 0.3em;
}

.card__dash--title {
    order: 1;
    width: max-content;
}


.card__dash--progressionBar {
    order: 3;
    width: 13em;
}

.card__dash--average {
    order: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 10.5em;
}

.card__dash--words {
    order: 5;
    width: 28em;
}

.graph__textContainer {
    margin-left: 0.4em;
}

.graph__text {
    font-size: 0.7em;
}

.average__text {
    font-size: 1.7em;
    font-weight: var(--weightThin)
}