.dash__cards {
    display: grid;
}

.card__dash {
    margin: 0.8em;
    padding: 0.5em 1em;
    height: min-content;
}

.dash__h2 {
    font-size: 1.3em;
    font-weight: var(--weightThin);
}

.dash__h3 {
    font-size: 1em;
}

.dash__h3--graph {
    margin-left: 0.4em;
}

.dash__h3--average {
    text-align: center;
}

.card__dash--title {
    grid-row: 1;
    grid-column: 1;
}

.card__dash--goal {
    grid-row: 2;
    grid-column: 1;
}

.card__dash--progressionBar {
    grid-row: 1;
    grid-column: 2;
    width: 13em;
}

.card__dash--average {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    width: 10.5em;
}

.graph__textContainer {
    margin-left: 0.4em;
}

.graph__text {
    font-size: 0.7em;
}

.average__text {
    font-size: 1.7em;
    font-weight: var(--weightThin)
}