footer {
    font-size: 0.75em;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--lightGreen)
}

.footer__heading {
    font-size: 1em;
    font-weight: var(--weightHeavier);
}

.footer__row1 {
    display: flex;
    flex-flow: row nowrap;
}

.footer__branding, .footer__about, .footer__tech {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5em 1em;
    width: 33.33%;
}

.branding__row1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.branding__summary, .about__p {
    font-size: 0.9em;
    font-weight: var(--weightThin);
}

.footer__row2 {
    font-weight: var(--weightThin);
    text-align: center;
    font-size: 0.9em;
}

.tech__item {
    font-size: 0.9em;
    margin: 0.5em 1em;
    font-weight: var(--weightThin);
}

.tech__list {
    margin: 0;
    padding: 0;
}