.icon__hovered {
    fill: var(--darkGray);
    transition: var(--btnHover);
}

.icon__gray {
    fill: var(--darkGray)
}

.icon__lightGray {
    fill: var(--mediumGray)
}

.icon__white {
    fill: white;
    transition: var(--btnHover);
}

.icon__plus {
    height: 1em;
    width: 1em;
    margin: 0.3em 0.4em;
}

.icon__dots {
    width: 2em;
    height: 1em;
}

.icon__arrow {
    height: 1em;
}

.icon__graph {
    margin-right: 0.4em;
}

.icon__logout {
    height: 1.5em;
}

/* .icon__close {
    
} */

.icon__divider {
    margin: 0 1em;
}