:root {
  /* Colors */
  --fontColor: #333333;
  --grey: #F6F6F6;
  --darkGrey: #ACACAC;
  --offWhite: #FCFCFC;
  --green: #02545B;
  --lightGreen: #0058600f;
  --greenActive: #01383d;
  --red: #d85656;
  --purple: #62496F;
  --lightPurple: #786384;
  --orange: #F0CB72;
  --lightOrange: #F0CB72;
  --formFieldGray: #E9E9E9;
  --shadowGrey: #00000008;

  /* Fonts */
  --fontFamily: 'Heebo', sans-serif;
  --weightThinnest: 100;
  --weightThin: 300;
  --weightNormal: 400;
  --weightHeavy: 500;
  --weightHeavier: 700;
  --weightHeaviest: 900;

  /* Border Radius */
  --cardRadius: 15px;
  --formFieldRadius: 0.5em;

  /* Drop Shadow */
  --cardDropShadow: -0.1em 0.1em 0.3em var(--shadowGrey);
  --headingDropShadow: 0em 0.1em 0.3em var(--shadowGrey);
  --footerDropShadow: 0em -0.1em 0.3em var(--shadowGrey);

  /* Transitions */
  --btnHover: 0.2s
}

#root {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  height: 100vh;
}

* {
  color: var(--fontColor);
  font-family: var(--fontFamily);
}

body {
  font-size: 1.3em;
  margin: 0;
  background-color: var(--grey);
}

h1 {
  font-weight: var(--weightHeaviest)
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: transparent;
  border-style: solid;
  border-radius: var(--formFieldRadius);
  border-color: var(--green);
  border-width: 0.2em;
  width: max-content;
  padding: .2em 1em;
  cursor: pointer;
  font-size: 0.7em;
  justify-self: center;
  transition: .1s;
}

.btn:hover {
  background-color: var(--green);
  color: white;
}

.btn:active {
  background-color: var(--greenActive);
  border-color: var(--greenActive)
}

/* Forms */
fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: none;
  margin: 0.7em;
  padding: 0;
}

.fieldset__btn {
  display: grid;
  justify-content: center;
}

label {
  font-size: 0.75em;
  font-weight: var(--weightThin);
}

input, select{
  background-color: var(--formFieldGray);
  border-style: none;
  border-radius: var(--formFieldRadius);
  padding: 0.5em;
  font-size: 0.7em;
  width: min-content;
}

.input__radio {
  margin: 0 0.2em 0 0.7em;
  padding: 0;
}