@import "./styles/buttons.css";
@import "./styles/forms.css";
@import "./styles/viewHeader.css";
@import "./styles/card.css";

:root {
  /* Colors */
  --fontColor: #333333;

  --lightGray: #F6F6F6;
  --mediumGray: #f1f1f1; 
  --darkGray: #ACACAC;
  --shadowGray: #00000008;

  --offWhite: #FCFCFC;
  --lightBlack: #171717ff;
  --mintBlue: #c3e8e5ff;
  --darkMintBlue: #76cdc7ff;

  --red: #d85656;
  --redActive: #803232;

  /* Fonts */
  --fontFamily: 'Heebo', sans-serif;
  --weightThinnest: 100;
  --weightThin: 300;
  --weightNormal: 400;
  --weightHeavy: 500;
  --weightHeavier: 700;
  --weightHeaviest: 900;

  /* Border Radius */
  --cardRadius: 15px;
  --formFieldRadius: 0.5em;

  /* Drop Shadow */
  --cardDropShadow: -0.1em 0.1em 0.3em var(--shadowGray);
  --headingDropShadow: 0em 0.1em 0.3em var(--shadowGray);
  --footerDropShadow: 0em -0.1em 0.3em var(--shadowGray);

  /* Transitions */
  --btnHover: 0.2s
}

/* Setup page layout */

#root {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  height: 100vh;
}

#progress__bar {
  width: 90% !important;
  height: auto !important;
  min-height: 2em !important;
  max-height: 2em !important;
}

/* Set Defaults */

* {
  color: var(--fontColor);
  font-family: var(--fontFamily);
}

body {
  font-size: 1.3em;
  margin: 0;
  background-color: var(--lightGray);
}

h1 {
  font-weight: var(--weightHeaviest)
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}