.auth__container {
    display: grid;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.auth__column--middle {
    display: flex;
    flex-flow: column nowrap;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

.title {
    color: var(--green);
    margin: 0;
    padding: 0;
}

.subtitle {
    margin: 0 0 0.7em 0;
    padding: 0;
    font-weight: var(--weightThinnest);
}

.card__auth {
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    width: 30vmax;
    max-width: 13em;
    grid-column: 1 / 4;
    grid-row: 5;
    justify-self: center;
    z-index:3;
}

.auth__btns {
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.btns__li {
    grid-row-start: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.auth__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    transition: var(--btnHover)
}

.auth__btn--active {
    color: var(--green);
    font-weight: var(--weightHeaviest);
}

.auth__line {
    grid-row-start: 2;
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    border-radius: 5em;
    border-color: var(--green);
}

.line__login--active {
    grid-column-start: 1;
}

.line__register--active {
    grid-column-start: 2;
}

.btn__authSubmit {
    grid-column: 1;
    grid-row: 1;
}

.login__active {
    opacity: 100%;
    z-index: 1;
}

.login__inactive {
    opacity: 0%;
    z-index: 0;
}

.register__active {
    opacity: 100%;
    z-index: 1;
}

.register__inactive {
    opacity: 0;
    z-index: 0;
}

.input--auth {
    width: auto;
}

.auth__warning {
    margin-bottom: 0.8em;
}

/* BACKGROUND */

.bg__blob--lightBlack {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    align-self: start;
    height: 25em;
    width: 25em;
    transform:translate(-5px, -5px);
    z-index: 0;

}

.bg__blob--mintBlue {
    grid-row: 3 / 1;
    grid-column: 3 / 1;
    align-self: end;
    justify-self: end;
    height: 25em;
    width: 25em;
    transform:translate(5px, 5px);
}

.bg__line--lightBlack {
    grid-row: 3 / 1;
    grid-column: 3 / 1;
    height: 25em;
    width: 25em;
    align-self: end;
    justify-self: end;
    z-index: 1;
}

.bg__line--mintBlue {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    align-self: start;
    height: 25em;
    width: 25em;
    z-index: 1;
    transform:translate(-5px, -5px);
}